:root{
    /* color */
    --color-text: #333;
    --color-bg: #f9f9f9;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-accent: #6c757d;
    --color-light: #f8f9fa;
    --color-dark: #343a40;

    /* Font  */
    --font-roboto: 'Roboto';
}